$primary-color:#000;
$header-color:#fff;

$base-font: 'Roboto', sans-serif;
$font-size:13px;
$font-big:140px;
$font-exbig:80px;
$font-med:40px;
$font-norm:18px;

$size-h2:40px;

$color-contentA:#fff;
$color-contentB:#000;


